<div class="flex flex-row gap-8">
  <div class="flex flex-col justify-center gap-6">
    <a href="https://www.linkedin.com/in/ahlam-saleh-923b97273/">
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>

    <a href="https://github.com/A7lamsal">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
  </div>

  <div class="flex flex-col justify-center">
    <h1>Hi, I'am Ahlam Saleh</h1>
    <h3>Frontend Developer</h3>
    <p>
      Low level experience in web design and development knowledge, producing
      good quality work.
    </p>
  </div>

  <div class="w-60">
    <img src="../../assets/imgs/profile.png" />
  </div>
</div>
<!-- <about></about> -->
